<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title mt-4">Employee List</h1>
        </div>
        <div class="col-md-12">
            
            <%= link_to 'Create Employee', new_employee_path, class:'btn btn-primary' %>
            <table  class="table table-striped table-bordered mt-5">
                <thead>
                    <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th>Departmet</th>
                            <th></th>
                            <th></th>
                            <th></th>
                    </tr> 
                </thead>
                <tbody>
                    <% @employees.each do |employee| %>
                        <tr>
                            <td><%= employee.first_name %></td>
                            <td><%= employee.last_name %></td>
                            <td><%= employee.email %></td>
                            <td><%= employee.designation %></td>
                            <td><%= employee.department.name%></td>
                            <td><%= link_to 'Edit',edit_employee_path(employee), class:"btn btn-success" %></td>
                            <td>
                            <%= link_to "Destroy", employee_path(employee), data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                            }, class:"btn btn-danger" %>
                            
                            </td>
                            <td>
                                <%= link_to 'Genarate Bill', new_bill_path , class: 'btn btn-primary'  %>
                            </td>
                        </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>
