<h1>index</h1>
<%= link_to 'Create Employee', new_employee_path %>
<table>
    <thead>
           <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Departmet</th>
                <th></th>
                <th></th>
           </tr> 
    </thead>
    <tbody>
        <% @employees.each do |employee| %>
            <tr>
                <td><%= employee.first_name %></td>
                <td><%= employee.last_name %></td>
                <td><%= employee.email %></td>
                <td><%= employee.designation %></td>
                <td><%= employee.department.name%></td>
                <td><%= link_to 'Edit',edit_employee_path(employee) %></td>
                <td><%= link_to 'Delete', employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>