<div class="container mt-5">
<%= form_with model: @bill do |form| %>
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :type %>
      <%= form.select :type, @allowance_types, { include_blank: 'Please select' }, class: 'form-control' %>      
    </div>
    <div class="form-group col-md-6">
      <%= form.label :amount %>
      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">INR</span>
          </div>
      <%= form.text_field :amount, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= form.label :employee_id %>
      <%= form.collection_select :employee_id, Employee.all, :id, :first_name, { include_blank: 'Please select' }, { class: 'form-control', selected: @bill.employee_id } %>
    </div>
    <div class="col-md-6 form-group">
      </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>  
<% end %>
</div>

  